# Variables d'environnement pour l'application
# Copier ce fichier en .env et définir les valeurs appropriées

# Mot de passe pour l'accès à l'interface d'administration
# Assurez-vous d'utiliser un mot de passe fort en production
ADMIN_PASSWORD=changez_ce_mot_de_passe
MATOMO_TOKEN=changez_ce_token
OPENFISCA_URL=https://aides-calculatrice-back.osc-fr1.scalingo.io/calculate
LEXIMPACT_URL=https://territoires.leximpact.dev
